In [2]:
import pandas as pd

In [1]:
# import required module
import os
# assign directory
directory = 'ztm_file_export'
 
# iterate over files in
# that directory
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
        print(f)

ztm_file_export/ztm_bus_data_26-06-2021 14:33:50
ztm_file_export/ztm_bus_data_26-06-2021 14:50:16
ztm_file_export/ztm_bus_data_26-06-2021 14:50:29
ztm_file_export/ztm_bus_data_26-06-2021 14:50:34
ztm_file_export/ztm_bus_data_26-06-2021 14:50:37
ztm_file_export/ztm_bus_data_26-06-2021 15:32:06
ztm_file_export/ztm_bus_data_26-06-2021 15:32:11
ztm_file_export/ztm_bus_data_26-06-2021 15:32:17
ztm_file_export/ztm_bus_data_26-06-2021 15:32:22
ztm_file_export/ztm_bus_data_26-06-2021 15:32:27
ztm_file_export/ztm_bus_data_26-06-2021 15:43:49

In [4]:
df = pd.read_csv('ztm_file_export/ztm_bus_data_26-06-2021 14:33:50')

In [5]:
df

,Unnamed: 0,Lines,Lon,VehicleNumber,Time,Lat,Brigade
0,0,213,21.115261,1000,2021-06-25 23:22:58,52.234620,3
1,1,213,21.115043,1001,2021-06-25 23:56:49,52.234630,1
2,2,213,21.211867,1003,2021-06-26 14:46:16,52.160585,1
3,3,311,21.115233,1004,2021-06-25 21:52:40,52.234580,2
4,4,196,21.115140,1005,2021-06-25 23:48:58,52.234611,1
...,...,...,...,...,...,...,...
982,982,190,21.069029,9949,2021-06-26 14:46:11,52.279461,6
983,983,190,21.085354,9951,2021-06-26 14:46:15,52.304966,7
984,984,190,20.908255,9953,2021-06-26 14:46:13,52.228401,1
985,985,186,20.942226,9954,2021-06-26 14:46:10,52.334217,67
986,986,o43A,21.423235,9999,2021-06-25 14:26:34,50.302956,1

In [ ]:
import os

COUNT = 1
  
# Function to increment count 
# to make the files sorted.
def increment():
    global COUNT
    COUNT = COUNT + 1
  

for f in os.listdir():
    f_name, f_ext = os.path.splitext(f)
    f_name = "geek" + str(COUNT)
    increment()
  
    new_name = '{} {}'.format(f_name, f_ext)
    os.rename(f, new_name)